<html lang="en">

    <head>

        {# bootstrap #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

        {% if title %}
        <title>{{ title }}</title>
        {% endif %}

        <style>
            {% block styles %}
            {% endblock %}
        </style>

    </head>

    <body>
        <form action = "{% url 'signout' %}" method="POST" id="signout_form">
            {% csrf_token %}
        </form>

        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 2em">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Todo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

          {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'todos' %}">Todos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'completed' %}">Completed</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'create' %}"><button class="btn btn-success" style="margin-left: 1em">Create</button></a>
                </li>
              </ul>
              <p>
                  Signed in as {{ user }}.
                  <a href="#" onclick="document.getElementById('signout_form').submit();">Sign out</a>
              </p>
            </div>
          {% else %}
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{% url 'signin' %}">Sign in</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
                      </li>
                  </ul>
              </div>
          {% endif %}

          </div>
        </nav>

        {% block content %}{% endblock %}

    </body>
</html>