{% extends 'todo/base.html' %}

{% block content %}

    {% for todo in todos %}

        <div style="padding: 0.5em;">
            <p>
              <a
                  class="btn {% if todo.is_important %} btn-danger {% else %} btn-primary {% endif %}"
                  data-bs-toggle="collapse"
                  href="#todo{{ todo.pk }}"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapseExample"
              >
                  {{ todo.title }}
              </a>
            </p>
            <div class="collapse" id="todo{{ todo.pk }}">
              <div class="card card-body">
                  {{ todo.date_created }}<br>
                  {{ todo.memo|truncatechars:100 }}
              </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}
